form.content-form {

}

form.content-form input, form.content-form select, form.content-form textarea {
    margin: 10px 0 0;
    width: 300px;
}

form.content-form button {
    margin: 10px 0 0;
}

div.container {
    width: 960px !important;
}

ul.menu-top-right {

}

ul.menu-top-right li {

}

ul.menu-top-right li a {

}

div.top {
    height: 90px;
}

div.mission {
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0 15px 15px;
    position: relative;
}

div.expline {
    background: none repeat scroll 0 0 #EEEEEE;
    height: 36px;
    margin: 0 0 40px;
    text-align: center;
    width: 100%;
    position: relative;
}

div.expline span {
    color: #999999;
    font-size: 26px;
    position: relative;
    z-index: 100;
}

div.expline-fill {
    background: none repeat scroll 0 0 #99AAFF;
    height: 36px;
    position: absolute;
    z-index: 99;
}