form.content-form {

}

form.content-form input, form.content-form select, form.content-form textarea {
    margin: 10px 0 0;
    width: 300px;
}

form.content-form button {
    margin: 10px 0 0;
}

div.container {
    width: 960px !important;
}

ul.menu-top-right {

}

ul.menu-top-right li {

}

ul.menu-top-right li a {

}