{% extends 'YourLifeWebBundle:Root:index.html.twig' %}

{% block content %}
    <form action="{{ path('your_life_web_register') }}" method="post" class="login-form">
        <h2>Создание нового пользователя</h2>
        {% if error is defined %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <input type="text" class="form-control" name="username" value="" placeholder="логин" />
        <input type="text" class="form-control" name="email" value="" placeholder="e-mail" />
        <input type="password" class="form-control" name="password" placeholder="пароль" />
        <button class="btn btn-primary" type="submit">зарегистрироваться</button>
    </form>
{% endblock %}